{% extends "base.html" %}

{% block title %} {{ artist_data.name }} {% endblock %}

{%block styles%}
    <link rel="stylesheet" href="{{ url_for('static', filename='track_artist_page.css') }}">
{% endblock %}

{% block content %}
    <div class="main-block">
        <div class="image-container">
            <img src="{{ artist_data.image_url }}" alt="{{ artist_data.name }} photo">
        </div>
        <div class="text-block">
            <h1>{{ artist_data.name }}</h1>
            <p><strong>Genres: </strong> {{ ", ".join(artist_data.genres) }}</p>
            <!-- Add more stats as needed -->
        </div>
    </div>
{% endblock %}