{% extends "base.html" %}

{% block title %}
    {{ title }} 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='track_artist_page.css') }}">
{% endblock %}

{% block content %}
    <div class="main-block">
        <!-- Top Section: Image and Text -->
        <div class="top-section">
            {% include page_type %}
        </div>

        <!-- Bottom Section: Stats Cards -->
        <div class="bottom-section">
            {% for item in stats %}
                <div class="stat-card">
                    <h3>{{ item.time_frame.replace("_", " ").capitalize() }}</h3>
                    <ul>
                        <li><strong>Current position:</strong> {{ item.chart_position }}</li>
                        <li><strong>Days in the chart:</strong> {{ item.duration }}</li>
                        <li><strong>Max position:</strong> {{ item.max_position }}</li>
                        <li><strong>Min position:</strong> {{ item.min_position }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
