<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVERELLI'S CHARTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>AVERELLI'S CHARTS</h1>
        <div class="nav-row">
            <a href="{{ url_for('main.compare_form') }}" class="nav-button">Compare Charts</a>
            <a href="{{ url_for('main.top_tracks') }}" class="nav-button">Top Tracks</a>
        </div>
    </div>
</body>
</html>
