<div class="image-container">
    <img src="{{ track_data.cover_art_url }}" alt="{{ track_data.title }} cover art">
</div>
<div class="text-block">
    <h1>{{ track_data.title }}</h1>
    <p><strong>Artist:</strong> <a href="{{ url_for('main.artist', artist_id=track_data.artist_id) }}"> {{ track_data.artist_name }} </a> </p>
    <p><strong>Album:</strong> {{ track_data.album_name }}</p>
    <p><strong>Release Date:</strong> {{ track_data.release_date }}</p>
    <p><strong>Popularity:</strong> {{ track_data.popularity }}</p>
</div>